/node_modules
/public/hot
/public/storage
/config/livewire.php
/public/properties
/storage/*.key
/vendor
/ config/database.php/
/storage/logs/laravel.log
.htaccess
.env
.env .ex
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
